/*TOOLTIP*/
#tooltip {
    position: absolute;
    background: rgba(20, 20, 40, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 20px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 2.5px;
    font: 10px Verdana;
    color: rgba(255, 255, 255, 0.7);
    z-index: 100;
}
